@model IEnumerable<TermProjectBookkeeping.employeesalary>

@{
    ViewBag.Title = "Назначение з/п";
}

<h2>Назначить з/п</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <div> Работник </div>
        </th>
        <th>
            <div> Часы переработки </div>
        </th>
        <th>
            <div> Больничный </div>
        </th>
        <th>
            <div> Премия </div>
        </th>
        <th>
            <div> З/П </div>
        </th>
        <th>
            <div> Часов в месяц </div>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overwork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sickdays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hourspermonth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
