@model TermProjectBookkeeping.employeesalary

@{
    ViewBag.Title = "Создание";
}

<h2>Создать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>employeesalary</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2"> Работник </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.employee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Часы переработки </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.overwork)
                    @Html.ValidationMessageFor(model => model.overwork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Больничный </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.sickdays)
                    @Html.ValidationMessageFor(model => model.sickdays, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Премия </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.bonus)
                    @Html.ValidationMessageFor(model => model.bonus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> З/П </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.overall, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.overall, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Часов в месяц </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.hourspermonth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hourspermonth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
