@model IEnumerable<TermProjectBookkeeping.employeesalary>

@{
    ViewBag.Title = "З/П сотрудников";
}

<h2>Фонд З/П</h2>

<p>
    @Html.ActionLink("Внести информацию о зарплате", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <div> Работник </div>
        </th>
        <th>
            <div> Часы переработки </div>
        </th>
        <th>
            <div> Больничный </div>
        </th>
        <th>
            <div> Премия </div>
        </th>
        <th>
            <div> З/П </div>
        </th>
        <th>
            <div> Часов в месяц </div>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.overwork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sickdays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.overall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hourspermonth)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) <p style="display:inline"> | </p>
                    @Html.ActionLink("Детали", "Details", new { id = item.id }) <p style="display:inline"> | </p>
                    @Html.ActionLink("Удалить", "Delete", new { id = item.id })
                }
            </td>
        </tr>
    }

</table>


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Главный бухгалтер"))
    {
        <p>
            <button>@Html.ActionLink("Назначить зарплату", "AssignSalary", "employeesalaries")</button>
        </p>
    }
}

@if (User.Identity.IsAuthenticated)
{
    <p>
        <button>@Html.ActionLink("Просмотреть фонд з/п", "Index", "salaryfunds")</button>
    </p>
}