@model IEnumerable<TermProjectBookkeeping.studentscholarship>

@{
    ViewBag.Title = "AssignScholarship";
}

<h2>AssignScholarship</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ifsocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ifsocialhelp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scholarshiptype)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.student)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grades)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ifsocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ifsocialhelp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scholarshiptype)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}
</table>
