@model TermProjectBookkeeping.studentscholarship

@{
    ViewBag.Title = "Удаление";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить данный элемент?</h3>
<div>
    <h4>studentscholarship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Студент
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student)
        </dd>

        <dt>
            Тип оценок
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grades)
        </dd>

        <dt>
            Социальная стипендия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ifsocial)
        </dd>

        <dt>
            Материальная помощь
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ifsocialhelp)
        </dd>

        <dt>
            Стипендия, всего
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scholarshiptype)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
