@model TermProjectBookkeeping.studentscholarship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>studentscholarship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Студент
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student)
        </dd>

        <dt>
            Тип оценок
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grades)
        </dd>

        <dt>
            Социальная стипендия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ifsocial)
        </dd>

        <dt>
            Материальная помощь
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ifsocialhelp)
        </dd>

        <dt>
            Стипендия, всего
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scholarshiptype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
