@model TermProjectBookkeeping.studentscholarship

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактировать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>studentscholarship</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <div class="control-label col-md-2"> Студент </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.student, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.student, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">  Тип оценок </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.grades, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.grades, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Социальная стипендия </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ifsocial)
                    @Html.ValidationMessageFor(model => model.ifsocial, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Материальная помощь </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ifsocialhelp)
                    @Html.ValidationMessageFor(model => model.ifsocialhelp, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Стипендия, всего </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.scholarshiptype, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.scholarshiptype, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
