@model TermProjectBookkeeping.purchaselist

@{
    ViewBag.Title = "Удаление";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить данный элемент?</h3>
<div>
    <h4>purchaselist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Наименование
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchasename)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchasedescription)
        </dd>

        <dt>
            Кафедра-отправитель
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender)
        </dd>

        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            Цена за 1 шт, руб.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price1pc)
        </dd>

        <dt>
            Общая стоимость
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overallsum)
        </dd>

        <dt>
            Одобрить
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ifapproved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
