@model TermProjectBookkeeping.purchaselist

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробная информация</h2>

<div>
    <h4>список закупок</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Наименование
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchasename)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchasedescription)
        </dd>

        <dt>
            Кафедра-отправитель
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender)
        </dd>

        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            Цена за 1 шт, руб.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price1pc)
        </dd>

        <dt>
            Общая стоимость
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overallsum)
        </dd>

        <dt>
            Одобрить
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ifapproved)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Главный бухгалтер"))
        {
        <p>
            <button>@Html.ActionLink("Редактировать", "Edit", new { id = Model.id })</button>
        </p>
        }
    }
<button>@Html.ActionLink("Вернуться к списку", "Index")</button>
</p>
