@model TermProjectBookkeeping.salaryfund

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>salaryfund</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Рабочее время
        </dt>

        <dd>
            @Html.DisplayFor(model => model.worktime)
        </dd>

        <dt>
            Сверхурочные
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overwork)
        </dd>

        <dt>
            Больничный
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sickdays)
        </dd>

        <dt>
            Общая сумма
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalsum)
        </dd>

        <dt>
            Дата формирования
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formationdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
