@model IEnumerable<TermProjectBookkeeping.salaryfund>

@{
    ViewBag.Title = "Фонд з/п";
}

<h2>З/п</h2>

<p>
    @Html.ActionLink("Добавить информацию о бюджете", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <div> Рабочее время </div>
        </th>
        <th>
            <div> Сверхурочные </div>
        </th>
        <th>
            <div> Больничный </div>
        </th>
        <th>
            <div> Общая сумма </div>
        </th>
        <th>
            <div> Дата формирования </div>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.worktime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overwork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sickdays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalsum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formationdate)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) <p style="display:inline"> | </p>
                @Html.ActionLink("Детали", "Details", new { id = item.id }) <p style="display:inline"> | </p>
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            }
        </td>
    </tr>
}

</table>
